footer {
  color: $white;
  background-color: $charcoal;
}

#footer-top {
  padding: 2rem 0;
  margin-bottom: 2rem;
  background-color: $dark_blue;
  font-size: 0.8rem;
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      padding: 0 0.5rem;
      @include breakpoint($tablet) {
        padding: 0 1rem;
      }
      border-right: 1px solid $white;
      a {
        color: $white;
      }
      a:hover {
        color: $hover;
      }
    }
    li.last {
      border: none;
    }
    @include breakpoint($tablet) {
      .i-envelop {
        @include suffix($icon_pad)
      }
    }
    @include breakpoint($smartphone-only) {
      .contact {
        display: none;
      }
    }
  }
}

#footer-bottom {
  color: $dark_grey;
  border-top: 1px solid $dark_grey;
  padding: 1rem $container_padding;
  font-size: 0.7rem;

  @include breakpoint($tablet) {
    @include pad(0);
  }

  a {
    color: $dark_grey;
  }
  a:hover {
    color: $medium_grey;
  }
}

#notifications {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
  & > div {
    padding: $header_vertical_spacing 0;
    display: none;

    &.visible {
      display: block;
    }

    .container {
      display: flex;
      align-items: center;
    }

    .text {
      @include gutter;
    }

    .cta {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        color: $white;
        &:hover {
          color: $medium_grey;
        }
      }

    }

  }
}

#honcode {
  margin-bottom: $default_bottom_margin;
  img {
    box-sizing: content-box;
    padding-right: $icon_pad;
  }
}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;

  a {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $light_grey;
    }
  }

  .icon {
    padding: 0;
  }
}
