$dark_blue: #365086;
$grey_blue: #6177a1;
$light_grey: #e5e6e7;
$medium_grey: #cccfcf;
$dark_grey: #777879;
$charcoal: #1f2021;
$cyan: #0092f8;
$light_cyan: #b1d7fe;
$white: #ffffff;
$black: #000000;

// State
$hover: $cyan;
