$default_bottom_margin: 1.5rem;
$home_bottom_margin: 0.8rem;
$icon_pad: 0.5rem;

@mixin h1-page-title {
  h1.page-title {
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    @include tablet-up {
      line-height: 2.5rem;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
}

@mixin visible($opacity) {
  opacity: $opacity;
  visibility: visible;
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

/* Bottom margins only for consistency */
h1, h2, h3, h4, p, ul{
  margin-top: 0;
}

h1, h2, h3, h4 {
  color: $dark_blue;
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $dark_blue;
  transition: 0.15s;
}

a:hover {
  color: $hover;
}

.meta {
  margin-bottom: $home_bottom_margin;
  color: $dark_grey;
}

.author {
  font-style: italic;
}

.date {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.icon {
  padding-right: $icon_pad;
}
