main.not-home{

  margin-top: $top_height_smartphone + $default_bottom_margin;

  @include tablet-up {
    margin-top: $top_height_tablet_desktop + $default_bottom_margin;
  }

  @include h1-page-title;

  h2, h3, h4 {
    margin-bottom: 0.5rem;
  }

  p, ul, table{
    margin-bottom: $default_bottom_margin;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background-color: $medium_grey;
    padding: 0.5rem 1rem;
    font-weight: normal;
    border: 1px solid $white;
  }

  td {
    background-color: $light_grey;
    padding: 0.5rem 1rem;
    border: 1px solid $white;
  }

  .text {
    margin-bottom: 3rem;
  }

  figure {
    background-color: $light_grey;
    margin: 1rem 0;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

}
