// define breakpoints
$tablet: 768px;
$laptop: 1024px;
$desktop: 1366px;
$smartphone_only: max-width $tablet - 1;
$tablet_only: $tablet $laptop - 1;

@mixin smartphone-only {
  @media (max-width: $tablet - 1) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: $tablet) {
    @content;
  }
}

$container_padding: 2rem;

main,
.container {
  margin: 0 auto;
  max-width: $tablet;
  padding: 0 $container_padding;
}

.container.wide {
  max-width: 1320px;
  @include smartphone-only {
    padding: 0;
  }
}
