main.home {

  h1, h2 {
    color: $dark_blue;
    font-weight: normal;
  }

  h1.section-title{
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: $default_bottom_margin;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $dark_blue;
  }

  //could matche icon prefixed classes with the following but "icon" more understandable
  //[class^="i-"], [class*=" i-"] {
  .icon {
    padding-left: 0;  
  }


  .derniers-articles {
    article {
      h1 {
        line-height: 2rem;
        font-size: 1.8rem;
        margin-bottom: $home_bottom_margin;
      }
    }
  }

  .derniers-articles.theme{
    h1.section-title {
      @include breakpoint ($tablet) {
        margin-bottom: 0;
      }
    }
    .inner {
      @include breakpoint($smartphone-only) {
        @include bleed-x($container_padding)
      }
      background-color: $light_yellow;
      padding: 1.5rem;
      @include clearfix;
    }
    .teaser {
      margin-bottom: $default_bottom_margin;
    }
    margin-bottom: $default_bottom_margin;
  }

  .derniers-articles.standard {
    @include last;
    article {
      @include breakpoint($tablet) {
        @include span (3 of 6)
      }     
    }
    article.last {
      @include last;
    }
    margin-bottom: $default_bottom_margin;
  }


  .annexes {
    @include span(full);
    @include breakpoint ($tablet) {
      @include span (6 of 12);
    }
    margin-bottom: $default_bottom_margin;
    
    article {
      h1 {
        font-size: 1.5rem;
        font-style: italic;
        line-height: normal;
        margin-bottom: $home_bottom_margin;
        a {
          color: $black;
        }
        a:hover {
          color: $hover;
        }
      }
    }
    .date {
      font-style: italic;
    }
  }
  
  // Numeros speciaux not output at the moment
  #numeros-speciaux, #a-lire {
    @include breakpoint ($tablet) {
      @include last;
    }
  }

  // Communication ponctuelle not output at the moment
  /*
  #communication-ponctuelle {
    position: relative;
    @include span(full);
    margin-bottom: $default_bottom_margin;
    padding: 1.5rem 0 1.5rem 1.5rem;
    @include with-layout(6) {
      .text {
        @include span(5);
      }
      .title {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
      }
      .plus {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: span(1);

        a {
          position: relative;
          display: block;
          height: 100%;
          text-align: center;
          color: $white;
          font-weight: bold;
          background-color: $medium_grey;

          span {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        a:hover {
          background-color: $hover;
        }
      }
    }
    background-color: $light_grey;
  }
  */
}  