main.home {

  @include h1-section-title;
  
  .derniers-articles {
    article {
      h1 {
        line-height: 2rem;
        font-size: 1.8rem;
        font-weight: normal;
        margin-bottom: $home_bottom_margin;
      }
    }
  }

  .derniers-articles.theme{
    h1.section-title {
      @include breakpoint ($tablet) {
        margin-bottom: 0;
      }
    }
    .inner {
      @include breakpoint($smartphone-only) {
        @include bleed-x($container_padding)
      }
      background-color: $light_yellow;
      padding: 1.5rem;
      @include clearfix;
    }
    @include breakpoint($tablet) {
      article {
        h1 {
          font-size: 2.4rem;
          line-height: 2.4rem;
        }
      }
    }
    .teaser {
      margin-bottom: $default_bottom_margin;
    }
    margin-bottom: $default_bottom_margin;
  }

  .derniers-articles.standard {
    @include clearfix;
    article {
      @include breakpoint($tablet) {
        @include span (3 of 6)
      }     
    }
    article.last {
      @include last;
    }
    margin-bottom: $default_bottom_margin;
  }
  

  /* See _excerpt.css for styles related to the bottom home blocks */


  // Communication ponctuelle not printed at the moment
  /*
  #communication-ponctuelle {
    position: relative;
    @include span(full);
    margin-bottom: $default_bottom_margin;
    padding: 1.5rem 0 1.5rem 1.5rem;
    @include with-layout(6) {
      .text {
        @include span(5);
      }
      .title {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
      }
      .plus {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: span(1);

        a {
          position: relative;
          display: block;
          height: 100%;
          text-align: center;
          color: $white;
          font-weight: bold;
          background-color: $medium_grey;

          span {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        a:hover {
          background-color: $hover;
        }
      }
    }
    background-color: $light_grey;
  }
  */
}  