main.home {
  position: relative;
  z-index: -1; // cf. body
  margin-top: $top_height_home_smartphone + $default_bottom_margin;

  @include breakpoint($tablet) {
    margin-top: $top_height_home_tablet_desktop + $default_bottom_margin;
  }

  .latest-content {
    .gutter-sizer {
      width: gutter();
    }
  }

  /* See _excerpt.css for styles related to the content blocks */

  // Communication ponctuelle not printed at the moment
  /*
  #communication-ponctuelle {
    position: relative;
    @include span(full);
    margin-bottom: $default_bottom_margin;
    padding: 1.5rem 0 1.5rem 1.5rem;
    @include with-layout(6) {
      .text {
        @include span(5);
      }
      .title {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
      }
      .plus {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: span(1);

        a {
          position: relative;
          display: block;
          height: 100%;
          text-align: center;
          color: $white;
          font-weight: bold;
          background-color: $medium_grey;

          span {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        a:hover {
          background-color: $hover;
        }
      }
    }
    background-color: $light_grey;
  }
  */
}
