@include breakpoint ($tablet) {
  .headroom--unpinned #search {
    transform: rotate3d(1, 0, 0, -90deg);
  }
}

#search {
  background-color: $light_grey;
  height: $search_box_height;
  margin-bottom: $default_bottom_margin;
  transition: 0.5s;
  transform-origin: top;

  .i-search {
    height: $search_box_height;
    line-height: $search_box_height;
    padding: 0 0.9rem;
    display: block;
    float: left;
    text-align: center;
    background-color: $dark_grey;
    color: #ffffff;
  }

  .search-input {
    @include span(50%);

    input {
      padding: 0 0 0 0.8rem;
      width: 100%;
      height: $search_box_height;
      line-height: $search_box_height;
      color: $dark_grey;
      background-color: $light_grey;
      border: none;

      &::-ms-clear {
        display: none;
        width:0;
        height:0;
      }
      
      &:focus {
        outline: none;
      }
    }
  }

  .search-cancel {
    display:none;
    float: right;
    color: $dark_grey;

    span {
      display: block;
      float: left;
      line-height: $search_box_height;
    }
  }
  .i-cancel-circle{
    margin-left: $icon_pad;
  }
  a:hover {
    color: $hover;
  }

}

#search-pagination {
  margin-top: 1rem;
  ul {
    text-align: center;
    margin: 0 0 1.5rem;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0.2rem;
    &.ais-Pagination-item--disabled {
      display: none;
    }
    &.ais-Pagination-item--selected a {
      color: $white;
      background-color: $dark_grey;
    }
  }
  a {
    display: block;
    padding: 0.5rem $icon_pad;
    margin: 0 0.1rem;
    background-color: $light_grey;
  }
  a:hover {
    background-color: $medium_grey;
  }
}

#search-algolia{
  display: none;
  margin-bottom: 1rem;
  text-align: center;

  img {
    width: 5rem;
  }

}

/* see main.js for search mode activation */

body.search {
  header,
  footer,
  main {
    display: none;
  }

  .header-search {
    position: static; // fixed in non-search mode for sticky header
  }

  #search .i-search {
    background-color: $dark_blue;
  }

  /*
   * See _list.scss for search generic hits styling.
   * Below are overrides for grouped paragraph search
   */

   ol {
     list-style-type: none;
   }

  .list {
    article {
      @include clearfix;
      margin: 1rem 0 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    .text {
      @include span(11 of 12 last);
      margin-bottom: 1rem;
    }
  }

  #search-algolia {
    display: block;
  }

}
