header {

  color: #ffffff;
  background-color: $dark_blue;
  font-size: 0.8rem;

  #top {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1.2rem;

    .container {
      // Removing padding to have the separation line between menu items
      // level 1 and 2 going right to the edge.
      @include pad(0);
    }

    .content {
      text-align: center;
    }

    .line {
      padding: 0.6rem 0;
      @include breakpoint($tablet) {
        display: inline-block;
      }
    }

    .line:first-child {
      @include breakpoint ($smartphone_only) {
        border-bottom: 1px solid $grey_blue;
      }
    }

    a {
      @include breakpoint ($smartphone_only) {
        padding: 0 0.6rem;
      }
      color: $white;
    }

    a:hover {
      color: $hover;
    }

    .icon {
      display: none;
      @include breakpoint($tablet) {
        display:inline;
      }
    }

    a.main-theme {
      color: $medium_yellow;
    }

    // Facebook icon not output at the moment
    /*
    .i-facebook {
      float: right;
    }
    */

  }
  
  .logo {
    margin: 0 auto;
    padding-bottom: 1.4rem;
    width: 9rem;
  }

}

body.home header #top {
  @include breakpoint($tablet){
    margin-bottom: 2rem;
  }
}
body.home header .logo {
  width: 11rem;
  padding-bottom: 1rem;
  @include breakpoint($tablet) {
    width: 14.3rem;
  }
}


#baseline {
  width: 12rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
  
  @include breakpoint($tablet) {
    width: 100%;
    font-size: 1.1rem;
    padding-bottom: 2.8rem;
  }
}