$menu_item_spacing_mobile: 0.9rem;
$menu_item_spacing_tablet: 2rem;

header {

  color: #ffffff;
  background-color: $dark_blue;

  #menu {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 0.8rem;
    @include breakpoint($tablet) {
      margin-bottom: 1.2rem;
    }
    text-align: center;

    .menu-row {
      padding: 0.6rem 0;
      font-size: 0.9rem;
      @include breakpoint($tablet) {
        display: inline-block;
      }
      li {
        display: inline-block;
        margin-right: $menu_item_spacing_mobile;
        @include breakpoint($tablet) {
          margin-right: $menu_item_spacing_tablet;
        }
      }
      li.last {
        margin-right: 0;
      }
    }

    .menu-row:first-child {
      @include breakpoint ($smartphone_only) {
        border-bottom: 1px solid $grey_blue;
      }
      @include breakpoint($tablet) {
        margin-right: $menu_item_spacing_tablet;
      }
    }

    a {
      color: $white;
      
      &:hover, &.active {
        color: $hover;
      }
    }


    .icon {
      display: none;
      @include breakpoint($tablet) {
        display:inline;
      }
    }

    a.main-theme {
      color: $medium_yellow;
    }

    // Facebook icon not output at the moment
    /*
    .i-facebook {
      float: right;
    }
    */

  }
  
  .logo {
    margin: 0 auto;
    padding-bottom: 0.6rem;
    width: 6rem;
    @include breakpoint($tablet) {
      width: 9rem;
      padding-bottom: 1.4rem;
    }
  }

}

body.home header #menu {
  margin-bottom: 1rem;
  @include breakpoint($tablet) {
    margin-bottom: 2rem;
  }
}
body.home header .logo {
  width: 8rem;
  @include breakpoint($tablet) {
    width: 14.3rem;
  }
}


#baseline {
  width: 10rem;
  margin: 0 auto;
  padding-bottom: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7rem;
  
  @include breakpoint($tablet) {
    width: 100%;
    font-size: 1.1rem;
    padding-bottom: 2.8rem;
  }
}