.excerpt {
  @include tablet-up {
    width: 48%;
  }
  margin-bottom: $default_bottom_margin;

  .subhead {
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: $default_bottom_margin;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $dark_blue;
    color: $dark_blue;
    a {
      color: $dark_blue;
    }

    //could match icon prefixed classes with the following but "icon" more understandable
    //[class^="i-"], [class*=" i-"] {
    .icon {
      padding-left: 0;
    }
  }

  h1 {
    font-weight: normal;
    margin-bottom: $home_bottom_margin;
  }

  a {
    color: $black;

    &:hover {
      color: $hover;
    }
  }

  .article, .quiz {
    h1 {
      line-height: 2rem;
      font-size: 1.8rem;
    }
  }

  .news {
    h1 {
      font-size: 1.5rem;
      font-style: italic;
      line-height: normal;
      color: $black;
    }
    .date {
      font-style: italic;
    }
  }
}

nav.excerpts {
  @include tablet-up {
    display: flex;
    justify-content: space-between;
  }
}

.excerpt.next .subhead{
  text-align: right;

  .icon {
    padding-right: 0;
    padding-left: $icon_pad;
  }
}
