.menu-icon {
  position: absolute;
  z-index: 1; // cf. nav#menu
  top: $header_vertical_spacing * 3/4; // cf. vertical margins for .logo
  right: $header_vertical_spacing * 3/4;
  display: flex;
  align-items: center;
  cursor: pointer;

  @include breakpoint($tablet) {
    top: 1.5rem;
    right: 1.5rem;
  }

  .bars {
    width: 24px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4px;

    @include breakpoint($tablet) {
      width: 29px;
      height: 21px;
      margin-bottom: 6px;
    }
  }

  span {
    height: 2px;
    background-color: $white;
    transition: 0.5s;

    @include breakpoint($tablet) {
      height: 3px;
    }
  }

  .legend {
    font-size: 0.5rem;
    transition: 0.5s;

    @include breakpoint($tablet) {
      font-size: 0.6rem;
    }
  }

  &.open {
    span:nth-child(1) {
      transform: translateY(6px) rotate(45deg);

      @include breakpoint($tablet) {
        transform: translateY(9px) rotate(45deg);
      }
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);

      @include breakpoint($tablet) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
    .legend {
      opacity: 0
    }
  }
}
