$dark_blue: #365086;
$light_grey: #e5e6e7;
$medium_grey: #cccfcf;
$dark_grey: #777879;
$charcoal: #1f2021;
$light_cyan: #b1d7fe;
$white: #ffffff;
$black: #000000;
$light_yellow: #fff7c1;

// State
$hover: #0092f8;