main.inner {

  h1, h2, h3, h4 {
    color: $dark_blue;
    margin-bottom: 0.5rem;
  }

  p, ul, table{
    margin-bottom: $default_bottom_margin;
  }

  h1 {
    line-height: 2rem;
    font-size: 1.8rem; 
    margin-bottom: 0.5rem;
    font-weight: bold;
    
    @include breakpoint ($laptop)
     {
      line-height: 2.5rem;
      font-size: 2.5rem;
      margin-bottom: 2rem;
     }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: $medium_grey;
  padding: 0.5rem 1rem;
  font-weight: normal;
  border: 1px solid $white;
}

td {
  background-color: $light_grey;
  padding: 0.5rem 1rem;
  border: 1px solid $white;
}