@import "node_modules/susy/sass/susy";
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 12,  // The number of columns in your grid
  //column-width: 50px,
  gutters: 0.5, // The size of a gutter in relation to a single column
  gutter-position: after,
  container-position: center,
  container: 767px,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  //  ),
   //use-custom: (rem: true)
);

@include global-box-sizing(border-box);

// define breakpoints
$tablet: 768px;
$laptop: 1024px;
$desktop: 1366px;
$smartphone_only: max-width $tablet - 1;
$tablet_only: $tablet $laptop - 1;


//define layouts
$tablet_layout_home: ();
$laptop_layout_home: ();
$desktop_layout_home: ();

$container_padding: 30px;

main, .container{
  @include container();
  @include pad($container_padding);
}

.container.wide {
  @include container(1320px);
}

#search .container {
  @include container(1320px);
  @include pad(0);
  @include breakpoint($tablet) {
    @include pad($container_padding);
  }
}

main .content {
  @include span(full);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

