main.home {

  h1 {
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  h2 {
    font-weight: normal;
  }

  //matches icon prefixed classes
  [class^="i-"], [class*=" i-"] {
    margin-right: 0.9rem;  
  }


  .derniers-articles {
    @include span(full);
    @include breakpoint ($laptop) {
      @include span(6 of 12);
    }
    h1 {
      margin-bottom: 1.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $dark_blue;
    }
    @include breakpoint ($tablet) {
      h2 {
      font-size: 1.8rem;
      }
    }
  }

  .derniers-articles.theme{
    h1 {
      @include breakpoint ($tablet) {
        margin-bottom: 0;
      }
    }
    .inner {
      @include breakpoint($smartphone-only) {
        @include bleed-x($container_padding)
      }
      background-color: $lighter_grey;
      padding: 1.5rem;
      @include clearfix;
    }
    .teaser {
      margin-bottom: $default_bottom_margin;
    }
    margin-bottom: $default_bottom_margin;
  }


  .derniers-articles.standard {
    @include last;
    .article {
      @include breakpoint($tablet) {
        @include span (3 of 6)
      }
      @include breakpoint ($laptop) {
        @include span(3 of 6);
      }     
    }
    .article.last {
      @include last;
    }
  }


  .annexes {
    @include span(full);
    @include breakpoint ($tablet) {
      @include span (6 of 12);
    }
    @include breakpoint ($laptop) {
      @include span(3 of 12);
    }
    margin-bottom: $default_bottom_margin;
    
    h1 {
      @include pad(0.3rem);
      line-height: 2rem;
      background-color: $lighter_grey;
      color: $dark_grey;
      span {
        color: $dark_blue;
        line-height: inherit;
        display: inline-block;
        border-bottom: 1px solid $dark_blue;
      }
    }
  }

  #numeros-speciaux, #a-lire {
    @include breakpoint ($tablet_only) {
      @include last;
    }
  }

  #message {
    @include breakpoint ($laptop) {
      @include break;
    }
  }
  #a-lire {
    @include breakpoint ($laptop) {
      @include last;
    }
  }

  #communication-ponctuelle {
    position: relative;
    @include span(full);
    @include breakpoint ($laptop) {
      @include span(6 of 12 break);
    }
    padding: 1.5rem 0 1.5rem 1.5rem;

    @include with-layout(6) {
      .text {
        @include span(5);
      }
      .title {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
      }
      .plus {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: span(1);
        overflow: hidden; // to hide the overflowing a's padding

        a {
          position: relative;
          display: block;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          padding: 200% 0; // will overflow but hidden in the parent
          text-align: center;
          color: $white;
          font-weight: bold;
          background-color: $medium_grey;
        }
        a:hover {
          background-color: $dark_blue;
        }
      }
    }
    background-color: $lighter_grey;
  }
}  