.list {
  article {
    margin-bottom: $default_bottom_margin;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $dark_blue;
  }
  h1 {
    @include breakpoint($tablet) {
      @include span(6 of 12);
    }
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
  }
  .date {
    color: $dark_grey;
    @include breakpoint($tablet) {
      @include span(6 of 12 last);
      text-align: right;
    }
  }
  .author {
    @include break;
    color: $dark_grey;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }
  .heading {
    @include break;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    a {
      font-weight: bold;
      color: $black;
    }
    a:hover {
      color: $dark_grey;
    }
  }
  .text {
    @include break;
    margin-bottom: 1rem;
  }
  em {
    font-style: normal;
    background-color: $light_cyan;
  }
}