#search {
  background-color: $light_grey;
  height: $search_box_height;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;

  .search-box {
    @include span(full);
    
    height: 100%;
    span, a{
      display: block;
      float: left;
      text-align: center;
      width: 2.5rem;
      height: $search_box_height;
      background-color: $dark_grey;
      line-height: $search_box_height;
      color: #ffffff;
    }
    a {
      display:none;
      float: right;
      font-size: 1rem;
    }
    a:hover {
      color: $medium_grey;
    }
  }

  .search-input {
    input {
      @include span(8 of 12);
      height: $search_box_height;
      line-height: $search_box_height;
      padding: 0 0.8rem;
      color: $dark_grey;
      background-color: inherit;
      font-size: 0.9rem;
      border: none;
    }

    input:focus {
      outline: none;
    }
  }
}

#search-hits {
  article {
    margin-bottom: $default_bottom_margin;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $dark_blue;
  }
  h1 {
    @include breakpoint($tablet) {
      @include span(6 of 12);
    }
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
  }
  .date-author {
    color: $dark_grey;
    @include breakpoint($tablet) {
      @include span(6 of 12 last);
    }
  }
  .heading {
    @include break;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    a {
      font-weight: bold;
      color: $black;
    }
    a:hover {
      color: $dark_grey;
    }
  }
  .text {
    @include break;
    margin-bottom: 1rem;
  }
  em {
    font-style: normal;
    background-color: $light_cyan;
  }
}

body.search {
  header,
  footer,
  main {
    display: none;
  }

  // #search, #search .search-box span, #search .search-box a, #search .search-input input {
  //  height: 4rem;
  //  line-height: 4rem;
  // }

}