$search_box_height: 2.3rem;

#search {
  background-color: $light_grey;
  height: $search_box_height;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;

  .search-box {
    @include span(full);
  }

  .i-search {
    height: $search_box_height;
    line-height: $search_box_height;
    display: block;
    float: left;
    text-align: center;
    width: 2.5rem;
    background-color: $dark_grey;
    color: #ffffff;
  }

  .search-input {
    input {
      @include span(7 of 12);
      height: $search_box_height;
      line-height: $search_box_height;
      padding: 0 0.8rem;
      color: $dark_grey;
      background-color: inherit;
      border: none;
    }
    input:focus {
      outline: none;
    }
  }

  .search-cancel {
    display:none;
    float: right;
    color: $dark_grey;
  }
  .i-cancel-circle, .search-cancel-text {
    display: block;
    float: left;
    line-height: $search_box_height;
  }
  .i-cancel-circle{
    // Non-conventional way of adding spacing to remain congruent with the
    // i-search icon
    width: 2.5rem;
    text-align: center;
    font-size: 1rem;
  }
  a:hover {
    color: $medium_grey;
  }

}

#search-hits {
  article {
    margin-bottom: $default_bottom_margin;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $dark_blue;
  }
  h1 {
    @include breakpoint($tablet) {
      @include span(6 of 12);
    }
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
  }
  .search-date {
    color: $dark_grey;
    font-size: 0.9rem;
    @include breakpoint($tablet) {
      @include span(6 of 12 last);
      text-align: right;
    }
  }
  .search-author {
    @include break;
    color: $dark_grey;
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }
  .search-heading {
    @include break;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    a {
      font-weight: bold;
      color: $black;
    }
    a:hover {
      color: $dark_grey;
    }
  }
  .search-text {
    @include break;
    margin-bottom: 1rem;
  }
  em {
    font-style: normal;
    background-color: $light_cyan;
  }
}

body.search {
  header,
  footer,
  main {
    display: none;
  }

  // #search, #search .search-box span, #search .search-box a, #search .search-input input {
  //  height: 4rem;
  //  line-height: 4rem;
  // }

}