/*
 * See _list.scss for search hits styling
 */

$search_box_height: 2.3rem;

#search {
  background-color: $light_grey;
  height: $search_box_height;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;

  .i-search {
    height: $search_box_height;
    line-height: $search_box_height;
    display: block;
    float: left;
    text-align: center;
    background-color: $dark_grey;
    color: #ffffff;
  }

  .search-input {
    input {
      @include span(7 of 12);
      height: $search_box_height;
      line-height: $search_box_height;
      padding: 0 0.8rem;
      color: $dark_grey;
      background-color: inherit;
      border: none;
    }
    input:focus {
      outline: none;
    }
  }

  .search-cancel {
    display:none;
    float: right;
    color: $dark_grey;
    
    span {
      display: block;
      float: left;
      line-height: $search_box_height;
    }
  }
  .i-cancel-circle{
    // Non-conventional way of adding spacing to remain congruent with the
    // i-search icon
    text-align: center;
    font-size: 1rem;
  }
  a:hover {
    color: $hover;
  }

}

#search-pagination {
  ul {
    text-align: center;
    margin: 0 0 1.5rem;
    padding: 0;
  }
}

body.search {
  header,
  footer,
  main {
    display: none;
  }

  #search .i-search {
    background-color: $dark_blue;
  }

}