$search_box_height: 2.3rem;

header {

  color: #ffffff;
  background-color: $dark_blue;
  font-size: 0.8rem;

  .top {
    padding: 0.6rem 0;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 2rem;
  }

  .menu {
    @include span(50%);
    .title {
      margin-left: 0.8rem;      
    }
  }

}

.logo {
  text-align: center;
  padding-bottom: 1.8rem;
}

#baseline {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 3rem;
}

#baseline-bottom {
  font-size: 1.3rem;
  font-weight: bold;
}