.excerpts {
  @include tablet-up {
    display: flex;
  }
}

.excerpt {
  position: relative;
  @include tablet-up {
    width: 48%;
  }
  margin-bottom: $default_bottom_margin;

  article {
    padding: 1.5rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: box-shadow 0.2s;
  }

  .nav {
    a {
      display: block;
      font-size: 0.9rem;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      color: $dark_blue;
    }
  }

  .subhead {
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: $dark_grey;
  }

  h1 {
    margin-bottom: $home_bottom_margin;
    font-weight: normal;
    line-height: 1.2;
    font-size: 1.6rem;
  }

  a {
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .teaser p {
    margin-bottom: 0;
  }

  &.next {
    margin-left: auto;
    
    .nav {
      text-align: right;
  
      .icon {
        padding-right: 0;
        padding-left: $icon_pad;
      }
    }
  }

  &:hover {
    article {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    h1 a, .nav a {
      color: $hover;
    }
  }
}


