@font-face {
    font-family: 'devsante';
    src:    url('fonts/devsante.eot?qkpz2');
    src:    url('fonts/devsante.eot?qkpz2#iefix') format('embedded-opentype'),
        url('fonts/devsante.ttf?qkpz2') format('truetype'),
        url('fonts/devsante.woff?qkpz2') format('woff'),
        url('fonts/devsante.svg?qkpz2#devsante') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"], [class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'devsante' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-quill:before {
    content: "\e907";
}
.i-pushpin:before {
    content: "\e946";
}
.i-cancel-circle:before {
    content: "\ea0d";
}
.i-newspaper:before {
    content: "\e903";
}
.i-bullhorn:before {
    content: "\e905";
}
.i-files-empty:before {
    content: "\e906";
}
.i-menu:before {
    content: "\e901";
}
.i-bookmark:before {
    content: "\e904";
}
.i-search:before {
    content: "\e902";
}

