#cookie-bar {
  position: fixed;
  z-index: 4; //cf #menu-overlay
  width: 100%;
  font-size: 0.8rem;
  background-color: $charcoal;
  transition: 0.5s;
  opacity: 0;

  @include breakpoint ($smartphone_only) {
    bottom: 0;
    padding: $header_vertical_spacing 0;
    transform: translate3d(0, 100%, 0);
  }
  @include breakpoint ($tablet) {
    top: 0;
    height: $header_menu_height;
    transform: translate3d(0, -100%, 0);
  }

  &.visible {
    transform: none;
    opacity: 1;
  }

  .container {
    display: flex;
    align-items: center;
    height: inherit;
  }

  .text {
    @include span(9 of 12);
  }

  .cta {
    @include span(3 of 12 last);
    color: $white;

    &:hover {
      color: $medium_grey;
    }
  }
}
